body{
    background-image: url("./images/img3.png");
    background-size: auto;

}
#p1{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white
}

#p2{
    display: flex;

}
.name{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

.image{
    display: flex;
    justify-content: center;
    padding-bottom: .5cm;
    border-radius: 50%;
}
.container {
    display: flex;
    justify-content:center;
    opacity:60%;
    
  }

.ldiv,.rdiv{
    flex: 1; /* Both columns grow to fill the available space */
    padding: 20px;
    border-left: ridge;
    background-color: rgb(21, 8, 69);
    color:white;
    max-width: 10cm;
    max-height: 6cm;
}

.rdiv {
    margin-left: 15px;
     /* Example background color for right column */
  }
#link{
    color: yellow;
    display: flex;
    justify-content: center;
}

.sec{
    display: flex;
    justify-content: space-between;
    color: yellow;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}

